In [2]:
""""Given the dataset of 1000 students performance in an exam
    the dataset contains four features (i.e gender,physics,chemistry and maths)
    objective:
    1) add a new column consisting mean of the three subjects score (ex: (p+c+m)/3 ) store this in column named "Percentage"
    2) Assign grades to students on the basis of their mean score and store it in a new column named "Grade", the grading rule is given below  
    Grading
above 80 = A Grade
70 to 80 = B Grade
60 to 70 = C Grade
50 to 60 = D Grade
40 to 50 = E Grade
below 40 = F Grade ( means Fail )

Note:
use pandas library to read the csv file"""

'"Given the dataset of 1000 students performance in an exam\n    the dataset contains four features (i.e gender,physics,chemistry and maths)\n    objective:\n    1) add a new column consisting mean of the three subjects score (ex: (p+c+m)/3 ) store this in column named "Percentage"\n    2) Assign grades to students on the basis of their mean score and store it in a new column named "Grade", the grading rule is given below  \n    Grading\nabove 80 = A Grade\n70 to 80 = B Grade\n60 to 70 = C Grade\n50 to 60 = D Grade\n40 to 50 = E Grade\nbelow 40 = F Grade ( means Fail )\n\nNote:\nuse pandas library to read the csv file'

In [48]:

import pandas as pd
import numpy as np
df=pd.read_csv('P3.csv')
df.head()

   gender  physics  chemistry  maths
0  female       72         72     74
1  female       69         90     88
2  female       90         95     93
3    male       47         57     44
4    male       76         78     75

In [52]:
df['Percentage']=(df['physics']+df['chemistry']+df['maths'])/3
df.tail()

     gender  physics  chemistry  maths  Percentage Grade
995  female       88         99     95   94.000000     A
996    male       62         55     55   57.333333     D
997  female       59         71     65   65.000000     C
998  female       68         78     77   74.333333     B
999  female       77         86     86   83.000000     A

In [50]:
def GetGrade(Percentage):
        
    if ( Percentage >= 80 ):
        return 'A'
    if ( Percentage >= 70):
        return 'B'
    if ( Percentage >= 60):
        return 'C'
    if ( Percentage >= 50):
        return 'D'
    if ( Percentage >= 40):
        return 'E'
    else: 
        return 'F'

df['Grade'] = df.apply(lambda x : GetGrade(x['Percentage']), axis=1)

df.Grade.value_counts()

B    261
C    256
A    198
D    182
E     73
F     30
Name: Grade, dtype: int64

In [54]:
print(df.head())

   gender  physics  chemistry  maths  Percentage Grade
0  female       72         72     74   72.666667     B
1  female       69         90     88   82.333333     A
2  female       90         95     93   92.666667     A
3    male       47         57     44   49.333333     E
4    male       76         78     75   76.333333     B

In [53]:
df.to_csv('/Users/lucky/Desktop/bhule/P3_eval.csv',index=False)